$main-bg-color: rgb(6, 9, 47);
$semi-bg-color: rgb(23, 23, 23);
$nuance-bg-color: rgb(255, 225, 0);

$main-text-color: rgb(255, 255, 255);
$contrast-text-color: rgb(0, 0, 0);

$font-robot: 'Roboto', sans-serif;
